<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stationery - Reports</title>
</head>
<body>
    <form action="/stationery/generate_custom_printout_report/" method="post">
        {% csrf_token %}
        <label for="start_date_time">Choose Start Date & Time</label>
        <input type="datetime-local" name="start_date_time" placeholder="Start Date & Time" id="start_date_time">
        <br>
        <label for="end_date_time">Choose End Date & Time</label>
        <input type="datetime-local" name="end_date_time" placeholder="End Date & Time" id="end_date_time">
        <br>
        <button type="submit">Generate</button>
    </form>
</body>
</html>