{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div style="display: flex; justify-content: space-evenly;">
        <a href="/stationery/printout-reports/daily" target='_blank'>
            <button style="display: inline-block; padding: 10px; font-size: 14px; text-align: center; text-decoration: none; background-color: #007bff; color: #ffffff; border: 1px solid #007bff; border-radius: 5px;">
                Generate Daily Report
            </button>
        </a>
        <a href="/stationery/printout-reports/weekly" target='_blank'>
            <button style="display: inline-block; padding: 10px; font-size: 14px; text-align: center; text-decoration: none; background-color: #007bff; color: #ffffff; border: 1px solid #007bff; border-radius: 5px;">
                Generate weekly Report
            </button>
        </a>
        <a href="/stationery/printout-reports/monthly" target='_blank'>
            <button style="display: inline-block; padding: 10px; font-size: 14px; text-align: center; text-decoration: none; background-color: #007bff; color: #ffffff; border: 1px solid #007bff; border-radius: 5px;">
                Generate Monthly Report
            </button>
        </a>
        <a href="/stationery/generate_custom_printout_report" target='_blank'>
            <button style="display: inline-block; padding: 10px; font-size: 14px; text-align: center; text-decoration: none; background-color: #007bff; color: #ffffff; border: 1px solid #007bff; border-radius: 5px;">
                Generate Custom Report
            </button>
        </a>
    </div>
    <br>
    {{ block.super }}
{% endblock %}